
body {
    background-color: chocolate;
    background-color: darkred;
}

h1 {
   background-color: rgb(130, 113, 102);
}


.borko {
 background-color: rgb(99, 30, 210);
}


#unique {
 background-color: rgb(105, 210, 30);
}
